#!/bin/bash
set_steam() {
	rm stable/STEAM_API_KEY
	ln -s /opt/nautdrafter/STEAM_API_KEY stable/STEAM_API_KEY
}

# runs the server
run() {
    {
        echo
        echo "--------------------------------------------"
        echo
        echo
        nohup NautDrafter_Lobby/bin/NautDrafter_Lobby $1 $2
    } >>lobby.log 2>&1 &
}

run_with_save() {
    {
        echo
        echo "--------------------------------------------"
        echo
        echo
        nohup NautDrafter_Lobby/bin/NautDrafter_Lobby $1 $2 /opt/nautdrafter/summaries
    } >>lobby.log 2>&1 &
}

print_usage(){
    echo "Usage: server.bash stable"
}

kill_java(){
    echo "Killing any running servers"
    echo "(hope you're not running any other java programs :P)"
    killall java
}

setup_servers(){
    kill_java
    echo "Settings Steam API Key"
    set_steam
}

start_stable_server(){
    echo "Starting stable server"
    pushd .
    cd stable
    #run_with_save server.nautdrafter.monky-games.com 50000
    #run server.nautdrafter.monky-games.com 50000
    run <%= scope.lookupvar('nautdrafter::servername') -%> <%= scope.lookupvar('nautdrafter::lobby_port') %>
    popd
}

if [ "$#" -ne 1 ]; then
    print_usage
    exit 1;
fi


if [ $1 == 'stable' ]; then
    setup_servers
    start_stable_server

else
    print_usage
    exit 1;

fi

echo "Servers started"